@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome DotnetCore!</h1>
    <p>Web app is up and running on UBUNTU!</a>.</p>
    <p>Version 1.111.14</a>.</p>
</div>
